# Week [] - Hello World

Objective: Edit the HelloWorld Java class to take the inputs: 

Example:

If the input is:

`this`

Then the output will be:

`this`


   * There are many files in this repository and we will go through what each of them does in class, but the only one you need to edit is `HelloWorld.java`.
   * Each time you save your code in this repository a series of tests will be run against your code in a container.  To see if your code passed all the tests and is ready to submit, go to the 'Actions' tab of your repository and see if the last commit passed all the tests.  If it did, there will be a green checkmark by the last commit, otherwise there will be a red x.
   * If you're not sure why your commit didn't pass the tests, click into the commit in the actions tab and then click 'autograding'.  You will be able to see the output of the test and use this to determine what went wrong.  If you need help, post on Slack!
  
